.text {
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 8px;
}

.table .cell {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.table .truncate {
  display: table-cell;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
